
$font-base:                   "Source Sans Pro ", sans-serif !default;
$font-special:                "Fredericka the Great" !default;

$font-size-xs:				   1.2rem !default;  // 12px
$font-size-s:				   1.6rem !default;  // 16px
$font-size-m:				   1.8rem !default;  // 18px
$font-size-l:				   2.5rem !default;  // 20px
$font-size-xl:				   3.2rem !default;  // 32px 
$font-size-xll:                3.7rem !default;  // 37px  
$font-size-xxl:				   4.0rem !default;  // 40px  

$line-height-xs:				   1.2rem !default;  // 12px
$line-height-s:				       1.6rem !default;  // 16px
$line-height-m:				       1.8rem !default;  // 18px
$line-height-l:				       2.0rem !default;  // 20px
$line-height-xl:				   3.0rem !default;  // 30px 
$line-height-xxl:				   4.0rem !default;  // 40px  


$font-size-text:			   $font-size-s !default;  // 18px
$font-size-multiplier: 1.3;